<%= form_for([order.customer, order]) do |f| %>
  <% if order.errors.any? %>
    <p id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </p>
  <% end %>

  <%= f.hidden_field :customer_name %>
  
  <p class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </p>
  <p class="field">
    <%= f.label :item %>
    <%= f.collection_select :item_id, Item.all, :id, :name, :prompt => true %>
  </p>
  <p class="actions">
    <%= f.submit %>
  </p>
<% end %>
