<div class="span4">
	<div class="well well-large">
		<h2>Customer Info</h2>
		<p id="notice"><%= notice %></p>

		<p>
		  <b>Name:</b>
		  <%= @customer.name %>
		</p>

		<p>
		  <b>Phone:</b>
		  <%= @customer.phone %>
		</p>

		<p>
		  <b>Contact:</b>
		  <%= @customer.contact %>
		</p>

		<%= link_to 'Place Order', new_customer_order_path(@customer) %> |
		<%= link_to 'View Orders', customer_orders_path(@customer) %> |
		<%= link_to 'Edit', edit_customer_path(@customer) %> |
		<%= link_to 'Back', landing_page_path %>
	</div>
</div>

<div class="span8">
	<div class="well well-small">
		<h2>Orders for <em><%= @customer.name %></em></h2>
		<% if @customer.orders.first.nil? %>
			<center><h3>No orders</h3></center>
		<% else %>
			<%= order_table_for @customer %>
		<% end %>
	</div>
</div>